@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

header {
    width: 1000px;
    background-color: #ffcccc;
}

#wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#main {
    width: 700px;
    background-color: #ccffcc;
}

#menu {
    width: 300px;
    background-color: #ccccff;
}

footer {
    width: 1000px;
    background-color: #ffccff;
}
